# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge - Passing a Lambda Expression to a Function

In the next excercise you will create a function that takes a lambda expression as an argument. Create a function called `modify_list`. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [15]:
def modify_list(lst,lmbda):
    """
    Input: list and lambda expression
    Output: the transformed list
    """
    transformed_list = list(map(lmbda,lst))
    return transformed_list

In [16]:
modify_list([0,1,2],(lambda celsius : celsius + 273.15))

[273.15, 274.15, 275.15]

#### Now we will define a lambda expression that will transform the elements of the list. 

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [6]:
f_kelvin= lambda celsius : celsius + 273.15

In [8]:
f_kelvin(celsius=8)

281.15

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [17]:
temps = [12, 23, 38, -55, 24]

modify_list(temps,f_kelvin)

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

#### In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression `mod`.

In [40]:
#we can use if else statements in lambda expressions

mod = lambda a,b : 1 if (a%b==0) else 0

In [41]:
mod(4,2)

1

In [42]:
mod(9,2)

0

#### Now create a function that returns mod. The function only takes one argument - the first number in the `mod` lambda function. 

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [57]:
def divisor(b):
    """
    Input: a number
    Output: a function that returns 1 if the number is 
    divisible by another number (to be passed later) and zero otherwise.
    """
    mod = lambda a : 1 if (a%b==0) else 0
    return mod

#This lambda functions inside the divisor takes just one argument(a)

Finally, pass the number 5 to `divisor`. Now the function will check whether a number is divisble by 5. Assign this function to `divisible5`

In [58]:
divisor(5)
#this is still a function

In [59]:
divisible5 =divisor(5)

Test your function with the following test cases:

In [62]:
divisible5(10)
#now we pass a = 10

1

In [61]:
divisible5(8)

0

# Bonus Challenge - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension. 

To do this, we will need to introduce the `zip` function. The `zip` function returns an iterator of tuples.

In [10]:
# Here is an example of passing one list to the zip function. 
# Since the zip function returns an iterator, we need to evaluate the iterator by using a list comprehension.

l = [1,2,3,4,5]
[x for x in zip(l)]

[(1,), (2,), (3,), (4,), (5,)]

Using the `zip` function, let's iterate through two lists and add the elements by position.

In [70]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']

list3 = [elements for elements in zip(list1, list2)]

In [71]:
print(list3)
#We have a list of tuples

[('Green', 'eggs'), ('cheese', 'cheese'), ('English', 'cucumber'), ('tomato', 'tomato')]

In [105]:
list3 = [elements[i] for elements in zip(list1, list2)
        for i in range(len(elements))]

In [102]:
len(('Green', 'eggs'))

2

In [103]:
range(len(('Green', 'eggs')))
#the function range creates the sequence and
#already stops at the number you pass - 1

range(0, 2)

In [104]:
list(range(len(('Green', 'eggs'))))

[0, 1]

In [94]:
print(list(range(0,9)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [106]:
print(list3)

['Green', 'eggs', 'cheese', 'cheese', 'English', 'cucumber', 'tomato', 'tomato']

# Bonus Challenge - Using Lambda Expressions as Arguments

#### In this challenge, we will zip together two lists and sort by the resulting tuple.

In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [2]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']

list3 = [element for element in zip(list1,list2)]

In [3]:
print(list3)

[('Engineering', 'Lab'), ('Computer Science', 'Homework'), ('Political Science', 'Essay'), ('Mathematics', 'Module')]

In [13]:
#f = lambda x, y, z: x + y + z# arguments :output
lmba = lambda x:x[1]

In [29]:
#I can assign it to a variable... it just changes the original list
list3.sort(key=lmba)

In [30]:
print(list3)

[('Political Science', 'Essay'), ('Computer Science', 'Homework'), ('Engineering', 'Lab'), ('Mathematics', 'Module')]

# Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [ ]:
# sort() function will mpdify the list it is called on, this one
#can not be used in a dictionary
# sorted() function will create a new list containing a sorted 
#version of the list

In [66]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [67]:
d_sorted = sorted(d)

In [68]:
print(d_sorted)
#sorts by key

['Audi', 'BMW', 'Honda', 'Toyota']

In [79]:
lmbda2= lambda x:x[1]

In [81]:
d_sorted = sorted(d.items(),key=lmbda2)

In [82]:
print(d_sorted)
#it return a list, I should convert in a dictionary

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]

In [83]:
d_sorted = dict(sorted(d.items(),key=lmbda2))

In [84]:
print(d_sorted)

{'Toyota': 1995, 'Honda': 1997, 'Audi': 2001, 'BMW': 2005}

In [85]:
#trial in a dic comprehension

d ={key:value for key,value in sorted(d.items(),key=lmbda2)}

In [86]:
print(d)

{'Toyota': 1995, 'Honda': 1997, 'Audi': 2001, 'BMW': 2005}